@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased min-h-screen;
    text-rendering: optimizeLegibility;
  }

  ::selection {
    background-color: rgba(88, 101, 242, 0.2);
  }
}

@layer components {
  .marquee {
    @apply flex whitespace-nowrap will-change-transform;
  }

  .marquee:hover {
    animation-play-state: paused;
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
