* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #e0e0e0;
    padding-top: 60px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121212;
    padding: 10px 20px;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #b3b3b3;
}

.href_curriculum {
    color: #b3b3b3;
}

.href_curriculum:hover {
    color: #ffffff;
}

.underline_link {
    color: #fff;
    text-decoration: underline;
}

.logo {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
}

.language-selector {
    position: relative;
}

.language-selector button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.language-selector .language-list {
    display: none;
    position: absolute;
    background-color: #333;
    border-radius: 5px;
    list-style: none;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid white;
}

.language-selector:hover .language-list {
    display: block;
}


.language-selector .language-list li {
    text-align: center;
    border-bottom: 1px solid white;
}

.language-selector .language-list li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
}

.language-selector .language-list li a:hover {
    background-color: #555;
}

.menu .nav-links {
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    color: #b3b3b3;
}

.about {
    padding: 50px 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.about p {
    font-size: 18px;
    line-height: 1.6;
    color: #b3b3b3;
    margin-bottom: 20px;
}

.about-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.5s, transform 0.5s;
}

.about-section.show {
    opacity: 1;
    transform: translateY(0);
}

/* BOTON */
.viewButton {
    --fs: 1.25em;
    --col1: honeydew;
    --col2: rgba(83, 71, 109, 0.603);
    --col3: rgb(88, 88, 100);
    --col4: rgb(0, 0, 0);
    --pd: .5em .65em;
    display: grid;
    align-content: baseline;
    appearance: none;
    border: 0;
    grid-template-columns: min-content 1fr;
    padding: var(--pd);
    font-size: var(--fs);
    color: var(--col1);
    background-color: var(--col3);
    border-radius: 6px;
    text-shadow: 1px 1px var(--col4);
    box-shadow: inset -2px 1px 1px var(--col2),
        inset 2px 1px 1px var(--col2);
    position: relative;
    transition: all .75s ease-out;
    transform-origin: center;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 15px;
}

.viewButton:hover {
    color: var(--col4);
    box-shadow: inset -2px 1px 1px var(--col2),
        inset 2px 1px 1px var(--col2),
        inset 0px -2px 20px var(--col4),
        0px 20px 30px var(--col3),
        0px -20px 30px var(--col2),
        1px 2px 20px var(--col4);
    text-shadow: 1px 1px var(--col2);
}

.viewButton:active {
    animation: offset 1s ease-in-out infinite;
    outline: 2px solid var(--col2);
    outline-offset: 0;
}

.viewButton::after,
.viewButton::before {
    content: '';
    align-self: center;
    justify-self: center;
    height: .5em;
    margin: 0 .5em;
    grid-column: 1;
    grid-row: 1;
    opacity: 1;
}

.viewButton::after {
    position: relative;
    border: 2px solid var(--col4);
    border-radius: 50%;
    transition: all .5s ease-out;
    height: .1em;
    width: .1em;
}

.viewButton:hover::after {
    border: 2px solid var(--col3);
    transform: rotate(-120deg) translate(10%, 140%);
}

.viewButton::before {
    border-radius: 50% 0%;
    border: 4px solid var(--col4);
    box-shadow: inset 1px 1px var(--col2);
    transition: all 1s ease-out;
    transform: rotate(45deg);
    height: .45em;
    width: .45em;
}

.viewButton:hover::before {
    border-radius: 50%;
    border: 4px solid var(--col1);
    transform: scale(1.25) rotate(0deg);
    animation: blink 1.5s ease-out 1s infinite alternate;
}

.viewButton:hover>span {
    filter: contrast(150%);
}

@keyframes blink {
    0% {
        transform: scale(1, 1) skewX(0deg);
        opacity: 1;
    }

    5% {
        transform: scale(1.5, .1) skewX(10deg);
        opacity: .5;
    }

    10%,
    35% {
        transform: scale(1, 1) skewX(0deg);
        opacity: 1;
    }

    40% {
        transform: scale(1.5, .1) skewX(10deg);
        opacity: .25;
    }

    45%,
    100% {
        transform: scale(1, 1) skewX(0deg);
        opacity: 1;
    }
}

@keyframes offset {
    50% {
        outline-offset: .15em;
        outline-color: var(--col1);
    }

    55% {
        outline-offset: .1em;
        transform: translateY(1px);
    }

    80%,
    100% {
        outline-offset: 0;
    }
}

.yo {
    background-color: #2c2c2c;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.yo-content {
    display: flex;
    align-items: center;
    max-width: 900px;
    gap: 20px;
}

.yo img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #1f1f1f;
}

.intro-text {
    text-align: center;
}

.intro-text h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
    display: inline-block;
}

.intro-text h3 {
    font-size: 24px;
    color: #b3b3b3;
    margin-bottom: 10px;
}

.intro-text p {
    font-size: 18px;
    color: #b3b3b3;
}

/*IMAGENES*/
#imagenes {
    display: none; /* Ocultar la sección de imágenes inicialmente */
}

.imagenes-section {
    padding: 50px 20px;
    background-color: #2c2c2c;
    text-align: center;
}

.imagenes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes-row {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre las imágenes */
    margin-bottom: 20px; /* Espacio entre las filas */
}

.imagen {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.imagen:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

.imagenes-ultima {
    display: flex;
    justify-content: flex-end;
}

.imagenes-ultima img {
    max-width: 600px; /* Imagen más grande a la derecha */
}

@media (max-width: 768px) {
    .imagenes-row {
        flex-direction: column;
        gap: 10px; /* Reduce el espacio entre imágenes en pantallas pequeñas */
    }

    .imagen {
        max-width: 100%; /* Asegura que las imágenes no sean más grandes que su contenedor */
    }
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*EDUCACION*/

section {
    margin-bottom: 40px;
}

.education {
    background-color: #2c3e50;
    padding: 30px 20px;
    color: #e0e0e0;
    text-align: center;
}

.education h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
    text-align: left;
    margin-right: 590px;
    padding-bottom: 5px;
    display: inline-block;
}


.education-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.education-left {
    text-align: left;
    margin-right: 20px;
    max-width: 150px;
}

.education-left h3,
.education-left h4,
.education-left p {
    margin-bottom: 5px;
}

.education-left h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
}

.education-left h4 {
    font-size: 16px;
    color: #c5cae9;
    margin-bottom: 5px;
}

.education-left p {
    font-size: 14px;
    color: #b3b3b3;
}


.education-right {
    font-size: 14px;
    color: #b3b3b3;
    text-align: left;
    max-width: 600px;
}

.education-right p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.education-section {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s, transform 0.8s;
}

.education-section.show {
    opacity: 1;
    transform: translateY(0);
}